@keyframes listLoadEffect {
    0%{
      opacity:0;
    }
    100%{
      opacity: 1;
      transform: translate(0);

    }
  }



  @keyframes menuLoadEffect {
    0%{
      opacity:0;
    }
    100%{
      opacity: 1;
      transform: scale(1);

    }
  }

  @keyframes loadEffect {
    0%{
      margin:0 0;
    }
    100%{
      margin:0 48px;
    }
  }

  @keyframes iconAnimation {

    0%{      
         padding:0rem;
         background-color: #fdbd3376;
    }
    15%{
        padding:.3rem;
        background-color: #fdbd3376;
    }
    25%{
        padding:.5rem;
        background-color: #fdbd3376;
    }
   75%{
    padding:.8rem;
    background-color: #fdbd3376;
}
85%{
    padding:1rem;
    background-color: #fdbd3376;
}
100%{
    padding :1.2rem;
    background-color: #fdbd3376;
}
    
}
