@import url("https://use.fontawesome.com/releases/v5.15.0/css/all.css");

:root{
    --siteColor:#FDBD33;
    --siteDark:#030F27;
    --siteGray:#666666;
}



body{
    background-color: #DDDDDD;
}
.text-site{
    color:var(--siteColor);
}
.text-dSite{
    color:var(--siteDark);
}
.text-gray{
    color:var(--siteGray);
}
.bg-site{
    background-color: var(--siteColor);
}
.bg-dSite{
      background-color: var(--siteDark);
}
.fa-rotate-5{
    transform: rotate(-15deg);
}
.border-gray{
    border-color: #E4E5E5;
}

.linkHover:hover{
    background-color: var(--siteColor);
    color:var(--siteDark)  !important;
    border-color: var(--siteColor) !important;
}
.LinkDarkHover:hover{
    background-color: var(--siteDark);
    color:var(--siteColor)  !important;
    border-color: var(--siteDark) !important;
}

a{
    transition: color .2s,background-color .2s;
}

.navbar {
    --bs-navbar-padding-x: .5rem;
    --bs-navbar-padding-y: 1.5rem;
    margin:0 -12px
}

.navbar-nav .nav-link.active{
    color:var(--siteColor) !important;
}
.animationEffect{
    animation-duration: 1s;
    animation-fill-mode: forwards;     
}

.listLoadEffect{
    animation-name: listLoadEffect;
    transform: translateX(-110%);
}

.linkLoadEffect{
    animation-name: listLoadEffect;
    transform: translateX(100%);
}
.menuLoadEffect{
    animation-name: menuLoadEffect;
    transform: scale(.7);
}




/* Home Section */
.homeCarsouel{
    background-position: center -20%  ;
    background-size: cover;
    height:80vh;
}

.HomeHeight{
    height:100vh;
}

.homeCarsouel1{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url("../img/carousel-1.jpg");
} 

.homeCarsouel2{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url("../img/carousel-2.jpg");
} 

.homeCarsouel3{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url("../img/carousel-3.jpg");
} 


#Home p {
   transform: translateX(70%);
   animation-name: listLoadEffect;
}
#Home h1{
    transform: translateX(-70%);
    animation-name: listLoadEffect;
}
#Home a{
    transform: translateY(50%);
    animation-name:listLoadEffect ;
}

#Home .carousel-item{
   transition-duration: .2s !important;
} 

.widthInherit{
    width:100%;
    margin: 0 !important;
    padding:16px 0;
    left:0;
    z-index:3;
}

.Spex{
    transform: translateY(40%);
    animation-name: listLoadEffect ;
}

/* About Section */

.aboutWidth{
    width:95%;
    transform: translateY(100%);
    animation-name: listLoadEffect ;
}

.innerWidth{
    width:95%;
}

.statusLeft{
    transform: translateX(-200%) ; 
    animation-name:listLoadEffect ;
}

.statusRight{
    transform: translateX(200%);
    animation-name:listLoadEffect ;
}

/* Service Section */




.serviceCard,.teamCard{
    transform: translateY(112%);
    animation-name: listLoadEffect ;
}
.serviceInfo{
    opacity:0;
}
.serviceIcon i{
    color:var(--siteDark);
}

.serviceCard:hover  .serviceIcon i{
    color:#fff !important;
}

.serviceCard:hover .serviceInfo{
    opacity:1;
}

.card2{
    animation-delay: .1s;
}
.card3{
    animation-delay: .2s;
}

.card4{
    animation-delay: .3s;
}

.card5{
    animation-delay: .4s;
}

.card6{
    animation-delay: .5s;
}

/* Vide0 Section */

.video{
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url("../img/carousel-1.jpg");
    background-size: cover;
    background-position: center 20px;
    background-repeat: no-repeat;
    background-attachment: fixed,fixed;
    height:50vh;
    z-index:2;
}

.videoIcon{
    animation-name: iconAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding :1.2rem;
}
.videoPlay{
    width:80px;
    height: 80px;
}

.fbColor{
    background-color:#1A77F2;
}
.twitterColor{
    background-color:#1E9AF0;
}
.linkedinColor{
    background-color:#0B66C2;
}
.instaColor{
    background-color:#3F719C;
}
.teamInfo i{
    width:50px;
    height:50px;
}
.social{
    transform: translateX(-110%);
    transition: all 2s;
}
.teamInfo {
    transition: all 2s;
}
.teamCaption {
    transition: background-color 1s;
}
.teamCard:hover .social{
    animation-name: listLoadEffect ;
}
.teamCard:hover .social2{
    animation-delay: .2s;
}
.teamCard:hover .social3{
    animation-delay: .3s;
}
.teamCard:hover .social4{
    animation-delay: .4s;
}
.teamCard:hover .teamCaption{
    background-color: var(--siteColor);
}

.teamCard:hover .teamCaption > p:first-of-type{
  color:var(--siteDark) !important;
  transform: scale(1.15);
}

.accordion-button:not(.collapsed)::after {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  color: var(--siteDark);
  background-image: none;
}

.accordion-button.collapsed::after {
    content: "\f058";
    color: var(--siteColor);
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    background-image: none;
  }

  .accordion-button:not(.collapsed) {
    color: var(--siteDark);
    background-color: var(--siteColor);
    border:none;
    box-shadow: none;
    /* box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--siteColor); */
}

.accordion-button:focus {
    box-shadow: none;
   }

.questionLeft{
    transform: translateX(-150%);
    animation-name: listLoadEffect;
}
.questionRight{
    transform: translateX(150%);
    animation-name: listLoadEffect;
}
#question2,#question7{
    animation-delay: .2s;
}
#question3,#question8{
    animation-delay: .3s;
}

#question4,#question9{
    animation-delay: .4s;
}

#question5,#question10{
    animation-delay: .5s;
}

.bg-blog{
    background-color: #F4F6FF;
}

.blog a:hover{
    color:var(--siteColor)  !important;
}
.blog .title::after{
    content:"";
    width:30%;
    transform: translateX(-50%);
    position: absolute;
    left:50%;
    height: 1px;
    background-color: var(--siteColor);
    bottom:-.2rem;

}

footer{
    z-index: 2;
}

.fa-ul{
    margin-left: 1.9rem;
}
.footLink > span:last-of-type{
    transition: all 1s;
    display: inline-block;
}
.footLink:hover{
    color:var(--siteColor) !important;
}
.footLink:hover > span:last-of-type{
    transform: scale(1.1);
    margin-left:.5rem;
}
.footerTitle::after{
   content:"";
   width:80px;
   height: 2px;
   background-color: var(--siteColor);
   position: absolute;
   bottom:-.6rem;
   left:0
}

.footerBorder{
    border-color:#1C273D !important;
}
.terms a:hover{
    color:var(--siteColor)!important;
}

#About{
    height: 38vh;
}
#About a:hover{
    color:#fff !important;
}
.mainTitle::after{
    content:"";
    background-color: var(--siteDark);
    width:100px;
    left:50%;
    transform: translateX(-50%);
    height:3px;
    position: absolute;
    bottom:0;
}


.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
     --bs-nav-tabs-border-color: transparent;
}

.nav-tabs .nav-link.active {
    color: var(--siteColor);
    background-color: var(--siteDark);
    border-color:none;
}
.nav-tabs .nav-link{
    color: var(--siteDark);
    background-color: var(--siteColor);
    border-color:none;
    border-radius: 0px;
    margin-left:1rem;
    font-size: .8rem;
    font-weight: 500;
}

.serviceCard:hover .project{
    color:#fff !important;
    background-color: var(--siteColor) !important;
    border-color:none;
}


@media screen and (min-width:576px){
    .aboutWidth,.innerWidth{
        width:80%;
    }
}
@media screen and (min-width:768px){
    .aboutWidth,.innerWidth{
        width:87%;
    }
    .qtn-border{
        border-right:1px solid var(--siteColor)
    }
}

@media screen and (min-width:992px) {
    .navbar {
        margin:0;
        animation-name: loadEffect;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }  
    
    .aboutWidth,.innerWidth{
        width:90%;
    }

}




@media screen and (min-width:1365px) {
   .parent{
    width:90%;
   }
   .widthInherit{
    width: 90%;
    left:5%;
}
.aboutWidth,.innerWidth{
    width:80%;
}
    
}